.NavbarRight{
    position: fixed;
    width: max-content;
    right: 0;
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: end;
    background-color: #1F1D2B;
}
.Orders{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    width: 350px;
    height: 100vh;
    padding: 35px 20px;
}
.Orders h3{
    color: white;
}
.NavbarRightButtons{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 10px 0px;
    margin-top: 20px;
}
.NavbarRightTopButton{
    font-size: 10px !important;
    font-weight: 550 !important;
    margin-left: 10px !important;
    color: #EA7C69 !important;
    border: 1px solid #EA7C69 !important;
}
.NavbarRightTopButton:hover{
    border: 1px solid #EA7C69 !important;
}
.NavbarRightTopButton:nth-child(1){
    background-color: #EA7C69 !important;
    color: white !important;
    margin-left: 0px !important;
}
.Prices{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px 0px;
    padding-bottom: 25px;
    margin-top: 10px;
    color: white;
    font-size: 15px;
    border-bottom: 2px solid #393C49;

}
.ordersAbsoluteDiv{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 160px;
    padding: 2px 20px;
    border-top: 1px solid #393C49;
}
.discount{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0px;
    color: white;
    font-weight: 550;
}
.subTotal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0px;
    color: white;
    font-weight: 550;

}
.discount>span:nth-child(1){
    color: #393C49;
}
.subTotal>span:nth-child(1){
    color: #393C49;
}
.NavbarRightBottomButton{
    font-size: 12px !important;
    font-weight: 550 !important;
    margin-top: 10px !important;
    color: white !important;
    padding: 10px 0px !important;
    background-color: #EA7C69 !important;
}


.rightCard{
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 15px;
}

.car img{
    width: 40px;
    height: 40px;
    border: 1px solid green;
    position: relative;
    left: 20px;
    top: 10px;
}

.car{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.title{
    margin-left: 10px;
    color: #fff;
    margin-top: 10px;
}
.title p{
    font-size: 10px;
}
.count{
    display: flex;
    color: #fff;
    align-items: center;
    margin-left: 30px;
}
.count h1{
    margin-right: 10px;
}
.count h4{
    margin-left: 40px;
    margin-right: 10px;
}
.pas{
    display: flex;
}
.pas input{
    width: 230px;
    height: 30px;
    padding: 10px 30px;
    padding-left: 20px;
    background-color: #2D303E;
    border-radius: 8px;
    border: 1px solid #393C49;
    outline: none;
    color: #ABBBC2;
    font-size: 14px ;
    margin-top: 10px;
    margin-left: 10px;
}
.pas img{
    width: 30px;
    height: 30px;
    position: inherit;
    margin-left: 20px;
    margin-top: 8px;
    border-radius: 0;
    object-fit: contain;
}

.scrollDiv{
    overflow-y: scroll;
}